<nav class="navbar navbar-expand navbar-light bg-secondary flex-column flex-md-row bd-navbar">
  <a href="/"><img src="../img/logostore.png " alt="" class="logo-store" style="margin-right: 80px;"></a>
  <div class="container">
  <div class="sw">
    <form>
      <input type="search" class="search ml-auto search-design" placeholder="Search..." />
      <button class="go">
        <svg enable-background="new 0 0 512 512" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M497.913,497.913c-18.782,18.782-49.225,18.782-68.008,0l-84.862-84.863c-34.889,22.382-76.13,35.717-120.659,35.717  C100.469,448.767,0,348.312,0,224.383S100.469,0,224.384,0c123.931,0,224.384,100.452,224.384,224.383  c0,44.514-13.352,85.771-35.718,120.676l84.863,84.863C516.695,448.704,516.695,479.131,497.913,497.913z M224.384,64.109  c-88.511,0-160.274,71.747-160.274,160.273c0,88.526,71.764,160.274,160.274,160.274c88.525,0,160.273-71.748,160.273-160.274  C384.657,135.856,312.909,64.109,224.384,64.109z"/></svg>
      </button>
    </form>
  </div>
</div>
  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse col-md-3 col-lg-3 col-xl-3" style="margin-right: 100px;" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
        <i class="fa badge fa-lg cart" value=8>&#xf07a;</i>
      <li class="nav-item dropdown hidden-cola">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Large_format_camera_lens.jpg" alt=""
        class="user-avatar">
          Tôi
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/news">Bài viết cá nhân</a>
          <a class="dropdown-item" href="/news/create">Tạo mới bài viết</a>
          <a class="dropdown-item" href="/search">Tìm kiếm bài viết</a>
          <a class="dropdown-item" href="/news/listnews">Sửa/Xóa bài viết</a>
          <a class="dropdown-item" href="/news/trash">Bài viết đã xóa</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Đăng xuất</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
