<div class="p-5">
    <form method="GET" action="">
        <div class="form-group">
            <label for="exampleInputEmail1">Bài báo: </label>
            <input type="text" class="form-control" name="q" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="">

            <div class="form-group">
              <label for=""></label>
              <select class="form-control" name="tuoi" id="">
                <option>Option: </option>
                <option value="mot">1</option>
                <option value="hai">2</option>
              </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>